@import '../../main';

.burger {
	$burgerHeight: 1rem;
	padding: 1rem 0.6rem;
	position: absolute;
	right: var(--gl-indent);

	cursor: pointer;

	span {
		z-index: 5;
		position: relative;
		display: block;
		width: 2.2rem;
		height: $burgerHeight;
	}

	span::before,
	span::after {
		position: absolute;
		left: 0;
		top: 50%;

		width: 100%;
		height: 1px;

		transition: transform .3s ease;
		will-change: transform;

		background-color: $black;

		.body--open_menu_state & {
			background-color: $white;
		}
	}

	span::before {
		content: "";
		transform: translateY(calc(#{$burgerHeight} / 2 * -1));
	}

	span::after {
		content: "";
		transform: translateY(calc(#{$burgerHeight} / 2));
	}

	.body--open_menu_state & {
		span::before {
			transform: rotate(-45deg);
		}

		span::after {
			transform: rotate(45deg);
		}
	}

	@include bp($point_3, min) {
		opacity: 0;
		pointer-events: none;
	}

	@include bp($point_3 - 1) {
		opacity: 1;
	}
}
