@import '../../main';

.random_planets {
	align-items: center;

	@include bp($tablet, min) {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 2rem;
	}
}

.random_planets__pic {

	border-radius: 0.8rem;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@include bp($tablet, min) {
		width: 30rem;
		height: 30rem;
	}

	@include bp($tablet - 1) {
		width: clamp(30rem, 50vw, 55rem);
		height: clamp(30rem, 50vw, 55rem);
		margin: 0 auto;
	}

	&:not(:last-child) {
		@include bp($tablet - 1) {
			margin-bottom: 2rem;
		}
	}
}

.random_planets__wrap {

}

.random_planets__title {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	color: $white;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.random_planets__list {

}

.random_planets__item {

}
