@import '../../main';

.header {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;

	height: var(--height-header);
	width: 100%;

	@include bp($point_2, min) {
		padding: 2.4rem var(--gl-indent);
	}

	@include bp($point_2 - 1) {
		padding: 1.6rem var(--gl-indent);
	}
}

.header_in {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header_logo_wrap {
	flex: auto;
}








