@import "main";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;

  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

:before, :after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
}

textarea:focus-visible {
  outline: 0;
}

input {
  outline: none;
}

ol,
ul,
li {
  list-style: none;
}

img, svg, video {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

picture,
svg {
  display: block;
}

@include font_face('Roboto-Regular', 'Roboto', 400);
@include font_face('Roboto-Bold', 'Roboto', 700);

:root {
  @include bp($point_3, min) {
    --gl-indent: 2.4rem;
    --height-header: 7.4rem;
  }

  @include bp($point_3 - 1) {
    --gl-indent: 1.6rem;
    --height-header: 6rem;
  }
}

html {
  height: 100%;
  font-family: $font_1;
  line-height: 1.33;
  font-size: $fontSizeBase;

  @include bp($point_2, min) {
    font-size: calc(100vw / 1440 * 10);
  }

  @include bp($point_4 - 1) {
    font-size: calc(100vw / 375 * 10);
  }
}

body {
  position: relative;
  display: block;

  height: 100%;
  margin: auto;
  color: $colorTextBase;

  &.body--open_menu_state {
    overflow: hidden;
  }
}
